body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

canvas {
  box-sizing: border-box;
  display: block;
  width: 700px;
}




* {
  margin: 0;
  padding: 0;
}

.histogram {
  max-width: 1300px;
  margin: 0 auto;
}

.container {
  max-width: 850px;
  margin: 12px auto;
  /* border: 1px solid gray; */
  height: 90vh;
  padding: 2px;
}
.arrayIndex {
  float: left;
  line-height: 12px;
  font-size: 8px;
  display: flex;
  width: 100%;
  color: #000;
  height: 90vh;
  flex-flow: column-reverse;
  justify-content: space-between;
}
.arrayIndex span {
  float: left;
  font-weight: bold;
  line-height: 12px;
  font-size: 8px;
  display: flex;
  color: #f00;
  width: 100%;
  background: #444444;
  flex-flow: column-reverse;
  height: 1px;
  justify-content: space-around;
}

.arrayBar {
  position: absolute;
  display: flex;
  float: right;
  border-bottom: 1px solid lightgray;
  font-size: 8px;
  height: 90vh;
  left: 33px;
  color: #000;
  background: #e8e8e8;
  z-index: -99;
}
.arrayBarItem {
  width: 1px !important;
  margin: 0px 6px 0px 21px;
  display: flex;
  background: #444444;
  align-self: end;
}
.graphValue {
  background-color: #444444;
  color: #fff;
  width: 10px;
  padding: 1px;
  height: 10px;
  margin: -2px 0px 0px -3px;
}
.arrayDate {
  flex-wrap: nowrap;
  float: right;
  font-size: 8px;
  display: flex;
}
.arrayDate span {
  transform: rotate(270deg);
  width: 41px;
  margin: 23px -7px 0px -6px;
  height: 3px;
}










/* .cover {
  float: left;
  width: 100%;
  height: 100%;
}

/* .vertical {
  float: left;
  font-size: 10px;
  display: flex;
  width: 0px;
  color: #000;
  height: 100%;
  flex-flow: column-reverse;
} */

.vertical h4 {
  margin: 7px 0px 0px -17px;
  line-height: 0px;
  width: 718px;
  background: #80808094;
  height: 1px;
  z-index: -999999;
  display: flex;
  flex-flow: column-reverse;
}

.horizental {
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-size: 10px;
}

.horizental h4 {
  margin: 2px 0px;
  height: 20%;
  font-size: 8px;
}

.garaph {
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  height: 100%;
  margin: 0px 0px;
}


.garaph span {
  height: 20px;
  text-align: center;
  width: 0px;
  font-size: 10px;
  align-self: self-end;
  border-top: groove;
  background: #676b03;
  border-right: 2px solid #676b03;
}

.details {
  display: flex;
  justify-content: space-evenly;
}

.data {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 100%;
  margin: 40px 0px;
}

.data p {
  margin: 10px 15px;
}

.dataDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

/* slider custom style */
span.MuiSlider-root.MuiSlider-colorPrimary.MuiSlider-sizeMedium.css-187mznn-MuiSlider-root  {
  color: #d3d3d3 !important;
  height: 1px !important;
  padding: 1px 0 !important;
  width: 96% !important;
  margin: -14px 0px 22px 27px !important;
}
.css-eg0mwd-MuiSlider-thumb {
  width: 1px !important;
  color: lightgrey !important;
  height: 31px !important;
  border-radius: 0% !important;
}

.css-eg0mwd-MuiSlider-thumb:hover,
.css-eg0mwd-MuiSlider-thumb.Mui-focusVisible {
  box-shadow: none !important;
}



